<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyrien.greenly"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <permission android:name="com.skyrien.greenly.RetailProvider.READ"
        		android:description="@string/app_name"
        		android:label="@string/app_name"
        		android:protectionLevel="normal" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
        <activity
            android:name="com.skyrien.greenly.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".HowHighActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".KnowRulesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RetailActivity"
            android:label="@string/app_name" />
        
        <provider
            android:name=".RetailProvider"
            android:authorities="com.skyrien.greenly.RetailProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="RetailProvider"
            android:readPermission="com.skyrien.greenly.RetailProvider.READ" >
        </provider>
        
        
    </application>

</manifest>
